@import "../../base/scss/_variables";
.ui-kit-button {
  background-color: $primary;
  border: none;
  border-radius: 5px;
  outline: none;
  color: $white;
  &[data-size="xs"] {
    padding: 6px 8px;
  }
  &[data-size="s"] {
    padding: 8px 16px;
  }
  &[data-size="m"] {
    padding: 10px 20px;
  }
  &[data-size="l"] {
    padding: 10px 24px;
  }
  &[data-size="xl"] {
    padding: 10px 36px;
  }
  &:hover {
    background-color: $accent-hover;
    transition: all 0.4s;
  }
  &:active {
    background-color: $secondary;
  }
}
