@import "../../base/scss/_variables";

.ui-kit-textArea_wrapper {
  display: flex;
  flex-direction: column;
}

.ui-kit-textArea_style {
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid $gray;
  width: 100%;
  &:hover {
    border: 1px solid $primary;
    transition: all 0.4s;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    border: 1px solid $primary;
  }
}
